<!--
  The iap challenge nodelet.   
 -->
<launch>
  <include file="$(find iap_bringup)/launch/includes/_openni.launch">
    <arg name="depth_registration" value="true" />
    <arg name="data_skip" value="9" />
  </include>

  <!--  This gets loaded into the 3d sensors nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="iap_challenge_perception_manager" args="manager" launch-prefix="xterm -e gdb --args"/>
  <node pkg="nodelet" type="nodelet" name="iap_challenge_perception" args="load iap_challenge/IapChallengePerception iap_challenge_perception_manager">
    <remap from="depth_registered/points" to="camera/depth_registered/points" />
    <param name="min_x" value="-3" />
    <param name="max_x" value="3" />
    <param name="min_y" value="-2" />
    <param name="max_y" value="3" />
    <param name="max_z" value="3" />
    <param name="hue" value="55" />
    <param name="hue_distance" value="8" />
    <param name="cluster_tolerance" value="0.1" />
    <param name="cluster_min_size" value="150" />
    <param name="cluster_max_size" value="1000" />
  </node>
  <!--
  <group ns="camera">
    <node pkg="nodelet" type="nodelet" name="iap_challenge_perception" 
          args="load iap_challenge/IapChallengePerception camera_nodelet_manager">
      <remap from="iap_challenge_perception/depth_registered/points" to="depth_registered/points" />
      <param name="min_x" value="-3" />
      <param name="max_x" value="3" />
      <param name="min_y" value="-2" />
      <param name="max_y" value="3" />
      <param name="max_z" value="3" />
      <param name="hue" value="55" />
      <param name="hue_distance" value="5" />
    </node>
  </group>
  -->
</launch>
