<!--
  Copyright 2011, 2012 Massachusetts Institute of Technology  
  This work is sponsored by the Department of the Air Force under Air Force Contract #FA8721-05-C-0002.
  Opinions, interpretations, conclusions and recommendations are those of the authors and are not necessarily endorsed by the United States Government.
-->

<!-- this file should be located in /opt/ros/electric/stacks/turtlebot/turtlebot_description/urdf/ -->

<?xml version="1.0"?>
<robot>

  <property name="turtlebot_calib_cam_x" value="-0.0844382" />
  <property name="turtlebot_calib_cam_y" value="0" />
  <property name="turtlebot_calib_cam_z" value="0.1047496" />
  <property name="turtlebot_calib_cam_rr" value="0" />
  <property name="turtlebot_calib_cam_rp" value="-.085" />
  <property name="turtlebot_calib_cam_ry" value="0" />
  <property name="turtlebot_kinect_frame_name" value="plate_2_link" />

</robot>
